*{
    margin: 0;
    box-sizing: border-box ;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    padding: 12px 0px;
    margin: 20px 0px;
}

#heading{
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 12px;
}

#date{
    color: grey;
    font-size: small;
}

main{
    margin-bottom: 30px;
}

main>p{
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

footer{
    color: grey;
    font-size: small;
    text-align: center;
    padding: 20px 0px;
}